<div>
    <h2>
        <span jhiTranslate="craftApp.dog.home.title">Dogs</span>
        <button class="btn btn-primary float-right jh-create-entity create-dog" [routerLink]="['/', { outlets: { popup: ['dog-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="craftApp.dog.home.createLabel">
            Create new Dog
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dogs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="craftApp.dog.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="age"><span jhiTranslate="craftApp.dog.age">Age</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="photo"><span jhiTranslate="craftApp.dog.photo">Photo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="master.login"><span jhiTranslate="craftApp.dog.master">Master</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let dog of dogs ;trackBy: trackId">
                <td><a [routerLink]="['../dog', dog.id ]">{{dog.id}}</a></td>
                <td>{{dog.name}}</td>
                <td>{{dog.age}}</td>
                <td>
                    <a *ngIf="dog.photo" (click)="openFile(dog.photoContentType, dog.photo)">
                        <img [src]="'data:' + dog.photoContentType + ';base64,' + dog.photo" style="max-height: 30px;" alt="dog image"/>
                    </a>
                    <span *ngIf="dog.photo">{{dog.photoContentType}}, {{byteSize(dog.photo)}}</span>
                </td>
                <td>
                    {{dog.master?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../dog', dog.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dog/'+ dog.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dog/'+ dog.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
